body {
	background: lightgray;
}

article {
	position: relative;
	width: 1600px;
	height: 4182px;
	margin: 0 auto;
}

/* Your Life Block */
.your-life-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 1600px;
	height: 744px;

	filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}

.your-life-block > .image {
	top: -22px;
	height: 744px;

	background: linear-gradient(0deg, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(assets/your-life-block-background.jpg);
}

.your-life-block > button {
	top: 406px;
	left: 707px;
}

.your-life-block > .socials {
	position: absolute;
	top: 635px;
	left: 715px;
	width: 170px;
	height: 20px;
}

.your-life-block > .socials > .instagram {
	position: absolute;
	right: 29.41%;
	bottom: 0;

	left: 58.82%;
}

.your-life-block > .socials > .facebook {
	position: absolute;
	left: 50px;
	width: 20px;
	height: 20px;
}

.your-life-block > .socials > .mail {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
}

.your-life-block > .socials > .youtube {
	position: absolute;
	left: 150px;
	width: 20px;
	height: 20px;
}

.socials > :hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.your-life-block > .big-text {
	position: absolute;
	top: 231px;
	left: 435px;
	display: flex;
	align-items: center;

	width: 740px;
	height: 75px;
	font-family: Roboto, sans-serif;
	font-size: 64px;
	font-style: normal;
	font-weight: bold;
	line-height: 75px;
	color: white;
	text-align: center;
	text-transform: uppercase;

	letter-spacing: 4.5px;
}

.your-life-block > .small-text {
	position: absolute;
	top: 326px;
	left: 548px;
	width: 504px;
	height: 50px;

	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 25.2px;
	color: white;

	text-align: center;
}

/* Header */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 1600px;
	height: 95px;
}

header > .logo {
	position: absolute;
	top: 25px;
	left: 778px;
	width: 44px;
	height: 45px;
}

header > .logo > .vector {
	top: 0;
	left: 0;
}

header > #menu {
	position: absolute;
	width: 53px;
	height: 20px;
	top: 38px;

	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;

	color: white;

	opacity: 0.8;
}

#about {
	position: absolute;
	width: 38px;
	left: 502px;
}

#syllabus {
	position: absolute;
	width: 53px;
	left: 625px;
}

#projects {
	position: absolute;
	width: 52px;
	left: 923px;
}

#faq {
	position: absolute;
	width: 26px;
	left: 1058px;
}

.active,
.el:hover {
	height: 21px;
	font-weight: 500;
	text-decoration: solid white;
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

/* Represent Block */
.represent-block {
	position: absolute;
	top: 744px;
	left: 0;
	width: 1600px;
	height: 842px;
	background: white;
}

.represent-block > .content-block {
	position: absolute;
	top: 295px;
	left: 268px;
	width: 407px;
	height: 233px;
}

.represent-block > .content-block > button {
	top: 187px;
	left: 0;
}

.represent-block > .content-block > .big-text {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;

	/* h2-24-bold */
	width: 367px;
	height: 57px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 28px;
	color: #373737;
	text-transform: uppercase;

	letter-spacing: 1px;

}

.represent-block > .content-block > .small-text {
	position: absolute;
	top: 77px;
	left: 0;
	width: 407px;
	height: 80px;

	/* body-14-reg */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	/* or 20px */

	color: #4E4E4E;
}

.represent-block > .image {
	position: absolute;
	top: 120px;
	left: 923px;
	width: 407px;
	height: 582px;

	background: url(assets/represent-block-image.jpg);
}

/* Our Community Block */
.our-community-block {
	position: absolute;
	top: 1586px;
	left: 0;
	width: 1600px;
	height: 504px;

	background: #F5F6F7;
}

.our-community-block > .navigation {
	position: absolute;
	top: 80px;
	left: 1252px;
	width: 79px;
	height: 20px;
}

.our-community-block > .navigation > .rectangle-forward {
	position: absolute;
	top: 10px;
	left: 79px;
	/*box-sizing: border-box;*/
	width: 8px;

	height: 8px;
	/*border: 2px solid #373737;*/
	/*transform: matrix(-.71,-.71,-.71,.71,0,0);*/
}

.our-community-block > .navigation > .rectangle-back {
	position: absolute;
	top: 10px;
	left: 0;
	/*box-sizing: border-box;*/
	width: 8px;

	height: 8px;
	/*border: 2px solid #373737;*/
	/*transform: rotate(90deg);*/
}

.our-community-block > .navigation > .pagination {
	position: absolute;
	top: calc(50% - 25px/2 - 1px);
	left: calc(50% - 37px/2);
	display: flex;
	align-items: center;

	width: 37px;
	height: 25px;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-style: normal;
/* or 25px */
	font-weight: normal;
	line-height: 140%;
	color: #373737;

	text-align: center;
}

.our-community-block > .slider {
	position: absolute;
	top: 120px;
	left: 706px;
	width: 894px;
	height: 244px;
}

.our-community-block > .slider > .item-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 407px;
	height: 244px;
}

.our-community-block > .slider > .item-2 {
	position: absolute;
	top: 0;
	left: 437px;
	width: 407px;
	height: 244px;
}

.our-community-block > .slider > .item-3 {
	position: absolute;
	top: 0;
	left: 874px;
	width: 407px;
	height: 244px;
}

.our-community-block > .slider > .item-1 > .rectangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 407px;
	height: 244px;

	background: url(assets/slider-item-1.jpg), #C4C4C4;
}

.our-community-block > .slider > .item-2 > .rectangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 407px;
	height: 244px;

	background: url(assets/slider-item-2.jpg), #C4C4C4;
}

.our-community-block > .slider > .item-3 > .rectangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 407px;
	height: 244px;

	background: url(assets/slider-item-3.jpg), #C4C4C4;
}

.our-community-block > .content-block {
	position: absolute;
	top: 155px;
	left: 269px;
	width: 298px;
	height: 175px;
}

.our-community-block > .content-block > .big-text {
	position: absolute;
	top: 65px;
	left: calc(50% - 160px/2);
	display: flex;
	align-items: center;

/* h3-16-upper-bold */
	width: 160px;
	height: 20px;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
/* identical to box height, or 125% */
	font-weight: 500;
	line-height: 20px;
	color: #373737;
	text-align: center;
	text-transform: uppercase;

	letter-spacing: 2px;
}

.our-community-block > .content-block > .small-text {
	position: absolute;
	top: 95px;
	left: calc(50% - 298px/2);
	display: flex;
	align-items: flex-end;

	/* body-14-reg */
	width: 298px;
	height: 80px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	/* or 20px */
	font-weight: normal;
	line-height: 140%;
	color: #4E4E4E;

	text-align: center;
}

.our-community-block > .content-block > .image {
	position: absolute;
	top: 0;
	left: 127px;
	width: 45px;
	height: 45px;
}

.our-community-block > .content-block > .image > .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;

	background: url(assets/our-community-block-content-block-image-icon.svg);
}

/* Implement Block */
.implement-block {
	position: absolute;
	top: 2090px;
	left: 0;
	width: 1600px;
	height: 842px;

	background: white;
}

.implement-block > .image {
	position: absolute;
	top: 120px;
	left: 269px;
	width: 407px;
	height: 582px;

	background: url(assets/implement-block-image.jpg);
}

.implement-block > .content-block {
	position: absolute;
	top: 319px;
	left: 815px;
	width: 407px;
	height: 184px;
}

.implement-block > .content-block > button {
	top: 138px;
	width: 180px;
}

.implement-block > .content-block > .big-text {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;

/* h2-24-bold */
	width: 298px;
	height: 28px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 28px;
	color: #373737;
	text-transform: uppercase;

	letter-spacing: 1px;
}

.implement-block > .content-block > .small-text {
	position: absolute;
	top: 48px;
	left: 0;
	width: 407px;
	height: 60px;

/* body-14-reg */
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
/* or 20px */

	color: #4E4E4E;
}

/* Subscribe Block */
.subscribe-block {
	position: absolute;
	top: 2932px;
	left: 0;
	width: 1600px;
	height: 598px;
}

.subscribe-block > .content-block {
	position: absolute;
	top: 217px;
	left: 597px;
	width: 340px;
	height: 104px;
}

.subscribe-block > .content-block > .form {
	position: absolute;
	top: 58px;
	left: 0;
	width: 340px;
	height: 46px;
}

.subscribe-block > .content-block > .form > .form-field {
	position: absolute;
	top: 0;
	width: 340px;
	height: 44px;
	text-indent: 22px;

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;

	border: 0;
}

.subscribe-block > .content-block > .form > button {
	position: absolute;
	top: 0;
	left: 340px;
	width: 66px;

	background: #00AFDB;
}

.subscribe-block > .content-block > .form > button > .label {
	position: absolute;
	top: calc(50% - 16px/2 - 0px);
	left: calc(50% - 19px/2 + 1px);
	width: 19px;
	height: 16px;
	border: 0;
}

.subscribe-block > .content-block > .form > button > .label:hover {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.subscribe-block > .content-block > .text {
	position: absolute;
	top: 0;
	left: 13px;
	display: flex;
	align-items: flex-end;

	width: 400px;
	height: 28px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 28.13px;
	color: white;
	text-align: center;
	text-transform: uppercase;

	letter-spacing: 1px;
}

/* Download */
.download-block {
	position: absolute;
	top: 3530px;
	left: 0;
	width: 1600px;
	height: 468px;

	background: #F5F6F7;
}

.download-block > .play-market {
	position: absolute;
	top: 238px;
	left: 815px;
	width: 188px;
	height: 50px;
}

.download-block > .app-store {
	position: absolute;
	top: 238px;
	left: 597px;
	width: 188px;
	height: 50px;
}

.download-block > * > .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 188px;
	height: 50px;
}

.download-block > * > .icon:hover {
	cursor: pointer;
}

.download-block > .big-text {
	position: absolute;
	top: 120px;
	left: 675px;
	display: flex;
	align-items: flex-end;

	width: 252px;
	height: 28.13px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	color: #373737;
	text-align: center;
	text-transform: uppercase;

	letter-spacing: 1px;
}

.download-block > .small-text {
	position: absolute;
	top: 168px;
	left: 559px;
	display: flex;
	align-items: center;

	/* body-14-reg */
	width: 483px;
	height: 40px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	/* or 20px */
	font-weight: normal;
	line-height: 19.6px;
	color: #4E4E4E;

	text-align: center;
}

/* Footer */
footer {
	position: absolute;
	top: 3998px;
	left: 0;
	width: 1600px;
	height: 184px;

	background: black;
}

footer > .copyright {
	position: absolute;
	top: 73px;
	left: 1270px;
	width: 170px;
	height: 20px;

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	color: #818181;

	text-align: center;
}

footer > .navigation {
	position: absolute;
	top: 75px;
	left: 160px;
	width: 273px;
	height: 16px;
}

footer > .navigation > .logo {
	position: absolute;
	top: -15px;
	left: 618px;
	width: 44px;
	height: 45px;
}

footer > .navigation > .menu {
	position: absolute;
	top: -2px;
	left: 0;
	width: 236px;
	height: 20px;

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	color: white;
	opacity: .98;
}

footer > .navigation > .menu > .item-1 {
	position: absolute;
	width: 45px;
}

footer > .navigation > .menu > .splitter-1 {
	position: absolute;
	top: 10px;
	left: 60px;
	width: 8px;

	border: 0.5px solid #4E4E4E;
	transform: rotate(-90deg);
}

footer > .navigation > .menu > .item-2 {
	position: absolute;
	left: 85px;
	width: 46px;
}

footer > .navigation > .menu > .splitter-2 {
	position: absolute;
	top: 10px;
	left: 145px;
	width: 8px;

	border: 0.5px solid #4E4E4E;
	transform: rotate(-90deg);
}

footer > .navigation > .menu > .item-3 {
	position: absolute;
	left: 171px;
	width: 65px;
}

footer > .navigation > .menu > *:hover {
	color: #818181;
}

footer > .webdev {
	position: absolute;
	top: 80px;
	left: 1270px;
	width: 170px;
	height: 20px;

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	color: #818181;

	text-align: center;
}

/* Common */
button {
	position: absolute;
	width: 184px;
	height: 46px;
	border: 0;
}

button:hover {
	background: #009CC2;
}

button > .label {
	position: absolute;
	top: 0;
	left: 0;
}

input:invalid {
	color: pink;
}

input:valid {
	color: lightgreen;
}